.navbar {
  background-color: #e3f2fd;
  padding: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content h1 {
  margin: 0;
}

.navbar-content ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navbar-content li a {
  text-decoration: none;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 2rem;
  background-color: #f5fff5;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  text-align: center;
  background: white;
  border-radius: 106px;
  padding: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  width: 240px;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
}

.descripcion-sihce {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  text-align: justify;
  line-height: 1.6;
}

.title-sihce {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  line-height: 1.4;
  text-align: center;
}

.link-vermas {
  color: rgb(110, 108, 108);
  text-decoration: underline;
  font-weight: 600;
}

.link-vermas:hover {
  color: #90caf9; /* azul claro en hover, opcional */
}

/* Estilos responsivos para dispositivos pequeños */
@media (max-width: 768px) {
  .title-sihce {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .descripcion-sihce {
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 1rem;
    text-align: justify;
  }

  .card {
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
  }
}

/* @keyframes rotarLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-giratorio {
  animation: rotarLogo 5s linear 1;
  transform-origin: center;
} */
